
src/.ipynb_checkpoints/brazilian-election-basedosdados-checkpoint.ipynb
src/.ipynb_checkpoints/brazilian-election-basedosdados-Copy1-checkpoint.ipynb
src/.ipynb_checkpoints/brazilian-election-basedosdados-Copy2-checkpoint.ipynb
src/.ipynb_checkpoints/Untitled-checkpoint.ipynb
src/brazilian-election-basedosdados-Copy1.ipynb
src/brazilian-election-basedosdados-Copy2.ipynb
src/Untitled.ipynb
src/.ipynb_checkpoints/brazilian-election-basedosdados-pt-checkpoint.ipynb
src/.ipynb_checkpoints/brazilian-election-basedosdados-en-checkpoint.ipynb
